<form #formRef="ngForm" ngNativeValidate>

    <div>
        <span class="form-lable">Name : </span>
        <input type="text" name="name" [(ngModel)]="registrationForm.name" required #nameFieldNgModel="ngModel"/>
        <span [hidden]="nameFieldNgModel.valid || nameFieldNgModel.untouched">Please enter name</span>
    </div>

    <div>
        <span class="form-lable">Age : </span>
        <input type="number" name="age" [(ngModel)]="registrationForm.age" min="12" max="60" required #ageFieldNgModel="ngModel"/>
        <span [hidden]="ageFieldNgModel.valid || ageFieldNgModel.untouched">Please enter valid age</span>
    </div>

    <div>
        <span class="form-lable">Mobile Number : </span>
        <input type="text" name="mobileNumber" [(ngModel)]="registrationForm.mobileNumber" minlength="10" maxlength="15" />
    </div>

    <span class="form-lable">Gender : </span>
    <div *ngFor="let gender of genderList">
        <input type="radio" name="gender" value="{{gender}}" [(ngModel)]="registrationForm.gender"> {{gender}}
    </div>

    <span class="form-lable">Select Stand : </span>
    <div>
        <select name="stands" [(ngModel)]="registrationForm.stands">
            <option *ngFor="let stands of standsList" value="{{stands}}">{{stands}}</option>
        </select>
    </div>
    
    <div>
        <input type="checkbox" name="termsAndconditions" [(ngModel)]="registrationForm.termsAndconditions" >
        <span class="form-lable">Accept Terms & Conditions</span>
    </div>

    <div>
        <button type="submit">Register</button>
    </div>

</form> 


