<h2>List of Events</h2>
<span class="fr">Welcome,{{visitorName}}</span>
<br>
<hr>
Enter Your Name :
<input type="text" [(ngModel)]="visitorName" />
<br>
<button (click)="toogleRegCount()" class="fr">
 {{showRegCount ? 'Hide' : 'Show'}}	Registration Count
</button>
<div class="events-text">
	<span><img [src]='eventLogoImgUrl' class="event-logo"/></span>
	<span class="ml10"><b>{{event?.name}} </b> on </span>
	<span class="ml10">{{event?.date}}</span>
	<span *ngIf="showRegCount">
	<span class="ml10 regSoFar">registration done so far</span>
	<span class="ml10 regSoFar" [innerText]="event.totalRegistrationSoFar"></span>
	</span>
	<event-mode></event-mode>
</div>