<h2>List of Events</h2>
<span class="fr">Welcome,{{visitorName}}</span>
<span class="ml10 y-color">Enter Your Name :</span>
<input type="text" [(ngModel)]="visitorName" />
<br>
<hr>
<div class="events-text event-section" *ngIf="events && events.length">
	<div *ngFor="let event of events">
	<button (click)="toogleRegCount()" class="fr">
	 	{{showRegCount ? 'Hide' : 'Show'}}	Registration Count
	</button>
	<span><img [src]='eventLogoImgUrl' class="event-logo"/></span>
	<span class="ml10"><b>{{event?.name | uppercase }} </b></span>
	<span *ngIf="showRegCount">
		<span class="ml10 y-color">registration done so far</span>
		<span class="ml10 y-color" [innerText]="event.totalRegistrationSoFar"></span>
	</span>

	<br><br>

	<span class="ml10 y-color">Date :</span>
	<span class="ml10">{{event?.date |  date:"EEEE, MMMM d, y" }}</span>

	<br><br>

	<span class="ml10 y-color">Mode :</span>
	<span class="ml10 ">
		<event-mode [eventMode]="event.mode" (eventModeClickEvent)="eventModeClickEventListener($event)"
			#eventModeRef>
		</event-mode>
	</span>

	<br><br>

	<span class="ml10 y-color ">Details 1 :</span>
	<span class="ml10">{{eventModeRef.eventModeDetails1 | replaceStr:'parent':'container'}}</span>

	<br><br>

	<button (click)="eventModeRef.eventModeDetails2()">Get Event Detail 2</button>
	</div>
</div>